*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f05454;
}

article {
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

h2{
    font-size: 1rem;
}

.section__main {
    flex-direction: column;
}

.section__options {
    margin: 1rem 0;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex__centeralign {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sketcharea{
    height: 450px;
    width: 450px;
    display: grid;
    border: 15px solid #222831;
    box-shadow: 15px 15px 27px -6px rgba(34, 40, 49, 0.3);
}

.griditem {
    box-sizing: border-box;
    display: inline-block;
    min-width: 5px;
    min-height: 5px;
    background-color: white;
}

button {
    color: white;
    background-color: #4a74ff;
    padding: 0.5em 3em;
    border: 0;
    border-radius: 2em;
    outline: none;
}

p{
    display: inline;
}
  
